* {
  margin: 0px;
  padding: 0px;

  
}

body { 
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.header-container {
  font-family: 'Garamond';

  display: flex;
  flex-direction: row;


  height: 10vh;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;
  color: white;
  background: #00B0BD;
}

.alogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: #00B0BD;
}

.alogo a{
  text-decoration: none;
  color: #00B0BD;

}

.landing-container {
  background: url('./static/landingbackground.jpg') center no-repeat;
  background-size: cover;

  height: 90vh;
  width: 100%;
}

.landing-overlay {
  display: flex;
  justify-content: center;

  height: 100%;
  
  vertical-align: middle;

  font-family: 'Tahoma';

  color: #fff;
  
  background-color: rgba(0, 0, 0, .4);
}

.wrapper {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button { 
  margin: 10px;
  border: 2px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: rgba(0, 0, 0, .1);
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 80%;
  height: 10%;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 16pt;
  margin-top: 10px;

  background: white;
  
  border-radius: 5px;

  font-family: arial;

}

.delete {
  padding: 0px;
  margin: 10px;
  color: white;

  background: rgba(250, 0,0, 0.5);

  font-family: arial;
}

.add {
  color: white;
  background: rgb(0, 231, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addnewrecord {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.errorwrapper{
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  font-family: 'Garamond';
  max-width: 500px;
}

.error .sorry {
  color: red;
}


.signinwrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signinform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  outline: none;
  width: 500px;
  border: none;
  height: 50px;
  margin: 1px;
  font-size: 32pt;
  font-family: 'Courier new';
}
